
body {
		background: #ffffff;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,Helvetica,"PingFang SC","Microsoft YaHei",sans-serif;
    font-style: normal;
		font-weight: 400;
}


/*---------------------------------------
    Typorgraphy
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

h3,h5 {
  font-weight: 500;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  line-height: 36px;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}

p {
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}

a {
  text-decoration: none !important;
  outline: none;
}


/*---------------------------------------
    General
-----------------------------------------*/
.section-title {
  margin-bottom: 32px;
}

#overview,
#register {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

#detail, #part,
#speakers,
#program,
#sponsors,
#contact,#show,#global, footer {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#detail,
#speakers, #show,#sponsors,#global,
footer {
  text-align: center;
}

#overview h3,
#detail h3, #part h3,
#register h3,
#venue h3,
#contact h3 {
    padding-bottom: 12px;
}
#venue .btn,
#intro .btn,
#contact .btn {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 14px;
    margin-top: 42px;
    margin-right: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#intro .btn-danger,
#venue .btn-danger,
#contact .btn-danger {
    background: #f2545f;
    border-color: transparent;
}
#venue .btn,
#contact .btn {
  border-radius: 100px;
}
#intro .btn-danger:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
#venue .btn-danger:hover {
  background: #333333;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .btn-danger:hover {
  background: #222;
}

#intro .btn-default:hover {
    background: #ffffff;
    color: #333333;
    border-color: transparent;
}


.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}
.fontSize p{
	font-size: 14px;
	text-align: left;

}

/*---------------------------------------
    Preloader section
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
  width: 50px;
  height: 50px;
  background-color: #222;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



/*---------------------------------------
    Navigation Links section
-----------------------------------------*/
.navbar-brand {
    padding: 0;
    padding-top: 20px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.custom-navbar {
    margin-bottom: 0;
    background-color:#292929;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
    line-height: 40px;
}

.custom-navbar .nav li a {
    color: #ddd;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #66ccff;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #66ccff;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
}

@media (min-width: 768px)
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    /* margin-right: 0; */
    margin-left: 0;
}


@media(min-width:768px) {
    .custom-navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
    }
    .custom-navbar.top-nav-collapse {
        background:rgba(41, 41, 41,0.9);
        padding: 0;
    }
}

 .container>.navbar-collapse {
        margin-right: -15px !important; 
        margin-left: -15px !important; 
}



/*---------------------------------------
    Intro section
-----------------------------------------*/
/*common*/
.help{
	background: url('http://img.careerfore.com/laptop-1205256_1920.jpg-big');
}
.broker{
	background: url('http://ob89r3lvl.bkt.clouddn.com/intro-bg.jpg-big');
}
.studyTour{
  background: url('http://ob89r3lvl.bkt.clouddn.com/city.jpg-big');
}
.Aboutus{
	background: url('http://ob89r3lvl.bkt.clouddn.com/building.jpg-big');
}
.accountantTraining{
  background: url('http://img.careerfore.com/photo.jpg-big');
}
.accountantInternship{
  background: url('http://img.careerfore.com/type-away.jpg-big');

}
#intro {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
     -webkit-align-items: center;
      -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#intro h3 {
  letter-spacing: 2px;
}


/*studytour项目概况*/
#action {
  /*background-color: #fbfafa;
  background-repeat: repeat;*/
  background-position: center;
  display: table;
  position:relative;
  width: 100%;
	height:100%;
}
.action h1{
  margin-top: 0;
}

.action p{
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 300;
}

.action .btn-common{
  margin-top: 55px;
  float: left;
}

.title {
  color: #404040;
  font-weight: 300;
}
.tour-button {
    background-image: url('http://ob89r3lvl.bkt.clouddn.com/tour-icon1.png');
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    left: 0;
    background-position: 100px;
	}
	#action .col-sm-5 {
	    position: absolute;
	    top: 0;
	    height: 100%;
	    right: 0;
	}


/*---------------------------------------
   Overview  section
-----------------------------------------*/
#overview img {
  position:relative;
  padding-bottom: 32px;
}



/*---------------------------------------
    Detail section
-----------------------------------------*/
#detail {
    background: #222;
    color: #ffffff;
}

#detail .fa {
  color: #f2545f;
  font-size: 48px;
}

/*---------------------------------------
   Speakers section
-----------------------------------------*/
#global,
#speakers{
    background: #f9f9f9;
}
#global,
#speakers h3 {
    font-size: 18px;
    margin-bottom: 0px;
}
#global,
#speakers h6 {
  color: #666;
  margin-top: 4px;
}
#global,
#speakers img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#speakers .col-md-3 {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}

#speakers .speakers-wrapper {
    background: #ffffff;
    padding-bottom: 22px;
}
.speakers-thumb h3{
	line-height: 20px;
}
.speakers-thumb h4{
	line-height: 25px;
}
.speakers-thumb p{
	line-height: 16px;
}
/*---------------------------------------
   Program section
-----------------------------------------*/
#program h4 {
    color: #808080;
    font-size: 12px;
}

#program h3 {
  margin-top: 16px;
}

#program .program-divider {
    border: 1px solid #f9f9f9;
    margin-top: 32px;
    margin-bottom: 42px;
}

#program span {
    padding-right: 12px;
}

#program img {
  border-radius: 50%;
}

.nav-tabs {
  margin-bottom: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  color: #000000;
  font-weight: 600;
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0px;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #f2545f;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-right-color: #999;
}
.tab-content {
  padding-top: 20px;
}
/*学员收获section*/
#testimonial, #blog, #counter, #contact {
   	padding-top: 30px;
  	padding-bottom: 30px;
}
#testimonial h2, #testimonial h4 {
  text-align: center;
}

#testimonial h2 {
  padding-bottom: 12px;
  font-size: 32px;
}

#testimonial h4 {
  padding-bottom: 32px;
  letter-spacing: 0.9px;
}

#about h3 {
  	padding-bottom: 12px;
}

.parallax-section {
  	background-attachment: fixed !important;
  	background-size: cover !important;
}
#testimonial .item {
  text-align: center;
  display: block;
  width: 100%;
  padding-bottom: 62px;
}

#testimonial .item img {
  display: inline-block;
}

/* Counter section styles
/* ========================================== */
#counter {
   background: url('http://ob89r3lvl.bkt.clouddn.com/counter-bg.jpg-big');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

#counter .counter-number {
  color: #ffa400;
  font-size: 32px;
}

#counter .counter-text {
  color: #ffffff;
  letter-spacing: 2px;
}

/* mobile responsive section styles
/* ========================================== */
@media (max-width: 768px) {
  #counter .counter-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

}
/* blog section styles
/* ========================================== */
#blog h2, #blog h4 {
  text-align: center;
}

#blog h2 {
  padding-bottom: 12px;
  font-size: 32px;
}

#blog h4 {
  padding-bottom: 32px;
  letter-spacing: 0.9px;
}

#blog p {
	padding-top: 10px;
	font-size: 14px;
	line-height: 28px;
}

#blog .blog-wrapper {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#blog .blog-wrapper h3 a {
  color: #000000;
}

h2 {
    color: #323232;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 1px;
    padding-bottom: 12px;
}

p {
    font-size: 16px;
    letter-spacing: 0.9px;
    line-height: 32px;
}





/*---------------------------------------
    Regsiter section
-----------------------------------------*/
#register {
    background: url('http://ob89r3lvl.bkt.clouddn.com/register-bg.jpg-big');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

#register .form-control {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  margin-bottom: 16px;
}

#register input {
  height: 45px;
}

#register input[type="submit"] {
  background: #f2545f;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

#register input[type="submit"]:hover {
  background: #ffffff;
  color: #222;
}



/*---------------------------------------
   Faq section
-----------------------------------------*/
#faq {
  background: #f9f9f9;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#faq .panel-group {
  margin-top: 32px;
}

#faq .panel-group .panel {
  margin-bottom: 8px;
}

#faq .panel-default {
  border: none;
}

#faq .panel-default>.panel-heading {
  background: #f0f0f0;
  color: #505050;
}

#faq .panel-heading {
  border: none;
  padding-top: 8px;
  padding-bottom: 6px;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: none;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]::after {
  content: "-";
  display: block;
  position: absolute;
  line-height: 1;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
  content: "+";
}



/*---------------------------------------
   Venue section
-----------------------------------------*/
#venue {
    background: url('http://ob89r3lvl.bkt.clouddn.com/venue-bg.jpg-big');
    background-size: cover;
    background-position: center center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-repeat: no-repeat;
}

#venue p {
  padding-top: 12px;
  padding-bottom: 18px;
}



/*---------------------------------------
   Sponsors section
-----------------------------------------*/
#sponsors img {
  margin-top: 18px;
}



/*---------------------------------------
   Contact section
-----------------------------------------*/
#contact {
    background: url('http://ob89r3lvl.bkt.clouddn.com/contact-bg.jpg-big');
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
}

#contact .contact_des {
  padding-top: 3rem;
  padding-right: 2rem;
}

#contact .contact_detail {
  background: #ffffff;
  padding: 5rem 5rem 12rem 5rem;
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #999;
}

#contact input {
  height: 45px;
}

#contact input[type="submit"] {
  background: #222;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: #f2545f;
}



/*---------------------------------------
   Footer section
-----------------------------------------*/
footer {
  background-attachment: fixed;
}



/* Back top */
.go-top {
  background-color:rgba(44, 44, 44, 0.4);;
  bottom: 2em;
  right: 2em;
  color: #ffffff;
  font-size: 32px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #f2545f;
    color: #ffffff;
}


/*---------------------------------------
   Social icon
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #666;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: #f2545f;
    color: #ffffff;
}



/*---------------------------------------
   Responsive styles
-----------------------------------------*/
@media (max-width: 980px) {

  p {font-size: 13px;}

  .custom-navbar .navbar-brand {
    font-size: 2rem;
    padding: 8px 15px;
  }

  .custom-navbar .nav li a {
    font-size: 11px;
  	line-height: 20px;
  }

  #intro { height: 65vh; }

  #part iframe {
    margin-top: 42px;
  }

  #contact .contact_detail {
  background: #ffffff;
  padding: 10rem 3rem 10rem 5rem;
}

}

@media (max-width: 768px) {

  .custom-navbar .navbar-brand {
    line-height: 20px;
    padding: 8px 15px;
  }

  #overview img,
  #detail .col-md-4,
  #register form {
    padding-top: 32px;
  }

  .nav-tabs > li > a {
    font-size: 13px;
  }

  #program img {
    padding-bottom: 32px;
  }

  #sponsors img {
    padding-top: 22px;
		padding-left: 90px;
  }

  #contact .contact_detail {
    margin-top: 82px;
  }
	.thumbnail-a img{
		width: 100%;
	}

}

@media (max-width: 760px) {

  #intro {
    height: 100vh;
  }

}
/*首页style*/
#show{
	background-size:cover;
	overflow: hidden;
}
#show .images{
	padding:15px 10px 15px 10px;
	border:1 solid #fff;
}
#show .gray{
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height:100%;
	position: absolute;
}
#show img {
  width: 100%;
  max-width: 100%;
  height: auto;
	box-shadow:0px 0px 10px #000;
}
#show.gray:hover{
	background-color:none;
}
#global{
	padding:30px 0 10px 0;
	background:#fff;
}
#global col-md-3{
	  display: block;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}

/*footer*/
 .footer{
   position: relative;
   background-color:rgb(255,255,255);
   padding: 10px 15px;
 }
 .footer a{
   color:#333
 }
 .left,
 .middle{
   margin-top:45px;
 }
 .right img{
   width:40%;
   border-radius: 2px;
 }
 .footer a:hover{
   color: #f2545f;
 }
